/* Style the list */
ul.breadcrumb {
    padding-top:1%;
    list-style: none;
    background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-family: 'Didact Gothic', sans-serif;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 2px;
    color: #9EB5A8;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #9EB5A8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
} 

.breadcrumb_container{
    width:100%;
    padding-left:1%;
}

.alert_icon{
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 45px;
}

.alert_icon img {
    width: 100%;
}

.alert_text{
    display: inline-block;
    vertical-align: middle;
}

.login_alert{
    width: 60%;
    position: absolute;
    top: 44%;
    left: 20%;
    margin: -1%;
    font-size: 19px;
    color: #303030;
    font-family: 'Didact Gothic', sans-serif;
}

.insured_about {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 20%;
    margin: -1%;
}

.insured_about ul {
    padding: 2%; 
    margin: 5%;
    list-style-type: none;
    margin: 20px;
}
.insured_about ul li {
    width: 40%;
    height: 40%;
    float: left;
    margin: 2%;
    background-color: #F2F2F2;
    text-align: center; 
    vertical-align: middle;
    line-height: 80px;
    height: 200px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 21px;
}

.login_page {
  border-radius: 4px;
  background-color: #76C0B4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.login_page:hover {
  background-color: #50af9f;
}

.register_page {
  border-radius: 4px;
  background-color: #FF866D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.register_page:hover {
  background-color: #ff6a4d;
}