 /* Style the list */
ul.breadcrumb {
    padding-top:1%;
    list-style: none;
    background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-family: 'Didact Gothic', sans-serif;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 2px;
    color: #9EB5A8;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #9EB5A8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
} 

.breadcrumb_container{
    width:100%;
    padding-left:1%;
}

.pensioners_menu {
    width: 60%;
    position: absolute;
    left: 20%;
    margin: -1%;
}

.pensioners_menu ul {
    padding: 2%; 
    margin: 5%;
    list-style-type: none;
    margin: 20px;
}
.pensioners_menu ul li {
    width: 40%;
    height: 40%;
    float: left;
    margin: 2%;
}

.pensioners_menu ul .first:hover {
    background-color: #9ad1c3;
}

.pensioners_menu ul .first {
    background-color: #c8e7df; 
    text-align: center; 
    vertical-align: middle;
    line-height: 200px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}

.pensioners_menu ul .second {
    background-color: #e5def8; 
    text-align: center; 
    vertical-align: middle;
    line-height: 200px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 21px;
}

.pensioners_menu ul .second:hover {
    background-color: #c7bbe8;
}

.pensioners_menu ul .third {
    background-color: #f8dae6; 
    text-align: center; 
    vertical-align: middle;
    line-height: 200px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 21px;
}

.pensioners_menu ul .third:hover {
    background-color: #e8bbcc;
}

.pensioners_menu ul .fourth {
    background-color: #d0ecf7; 
    text-align: center; 
    vertical-align: middle;
    line-height: 200px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 21px;
}

.pensioners_menu ul .fourth:hover {
    background-color: #95d4ed;
}
