.profile_cont{
	top:  30%;
	width: 80%;
	height: 67%;
	left: 10%;
	position: absolute;
	background-color: #F2F2F2;
}


.profile_cont .my_profile{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  margin-top: -6%;
  margin-left: 70%;
}


.profile_cont .name{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  margin-top: 2%;
  margin-left: 4%;
}

.profile_cont .username{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  margin-top: -0.8%;
  margin-left: 4%;
}

.profile_cont .birthdate{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  margin-top: -0.8%;
  margin-left: 4%;
}

.profile_cont .afm{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  margin-top: -0.8%;
  margin-left: 4%;
}


.profile_cont .buttons{
  top: 10%;
	width: 20%;
	height: 60%;
	left: 2%;
	position: relative;
  background-color: #E0E0E0;
}


.profile_cont .buttons ul{
  padding: 2%;
  margin: 5%;
  list-style-type: none;
}

.profile_cont .buttons ul li{
    top: 5%;
    width: 100%;
    height: 80%;
    line-height: 50px;
    float: left;
    margin: 4%;
}

.profile_cont .buttons ul .first:hover {
    background-color: #9ad1c3;
}

.profile_cont .buttons ul .first{
  height: 18%;
  width: 90%;
  background-color: #A9A9A9;
  text-align: center;
  vertical-align: middle;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
}

.profile_cont .buttons ul .second:hover {
    background-color: #9ad1c3;
}

.profile_cont .buttons ul .second{
  height: 18%;
  width: 90%;
  background-color: #A9A9A9;
  text-align: center;
  vertical-align: middle;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12px;
}

.profile_cont .buttons ul .third:hover {
    background-color: #9ad1c3;
}

.profile_cont .buttons ul .third{
  height: 18%;
  width: 90%;
  background-color: #9ad1c3;
  text-align: center;
  vertical-align: middle;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
}

.profile_cont .buttons ul .fourth:hover {
    background-color: #9ad1c3;
}

.profile_cont .buttons ul .fourth{
  height: 18%;
  width: 90%;
  background-color: #A9A9A9;
  text-align: center;
  vertical-align: middle;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
}

.profile_cont .logout{
  top: 90%;
  left: 7%;
  font-size: 14px;
  position: absolute;
  color: red;
}

<<<<<<< HEAD
=======
.profile_cont .logout:hover{
	text-decoration: underline;
}

>>>>>>> master
.profile_cont .edit_cont{
  top: 25%;
	width: 72%;
	height: 70%;
	left: 25%;
	position: absolute;
	background-color: white;
  border-style: solid;
}

<<<<<<< HEAD
=======

.profile_cont .edit_cont .beb_title{
	left: 5%;
	top: 5%;
	font-size: 26px;
	font-family: 'Didact Gothic', sans-serif;
	position: absolute;
}

.profile_cont .edit_cont .beb1:link{
	left: 5%;
	top: 45%;
	font-size: 18px;
	font-family: 'Didact Gothic', sans-serif;
	color: green;
	position: absolute;
}

.profile_cont .edit_cont .beb1:visited{
	color: darkgreen;
}

.profile_cont .edit_cont .beb1:hover{
	color: red;
}

>>>>>>> master
/* If not logged in */

.login_cont{
    width:100%;
    padding-left:1%;
}

.login_cont .alert_icon{
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 45px;
}

.login_cont .alert_icon img {
    width: 100%;
}

.login_cont .alert_text{
    display: inline-block;
    vertical-align: middle;
}

.login_cont .login_alert{
    width: 60%;
    position: absolute;
    top: 44%;
    left: 20%;
    margin: -1%;
    font-size: 19px;
    color: #303030;
    font-family: 'Didact Gothic', sans-serif;
}

.login_cont .reg_log {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 20%;
    margin: -1%;
}

.login_cont .reg_log ul {
    padding: 2%;
    margin: 5%;
    list-style-type: none;
    margin: 20px;
}
.login_cont .reg_log ul li {
    width: 40%;
    height: 40%;
    float: left;
    margin: 2%;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    height: 200px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 21px;
}

.login_cont .login_page {
  border-radius: 4px;
  background-color: #76C0B4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.login_cont .login_page:hover {
  background-color: #50af9f;
}

.login_cont .register_page {
  border-radius: 4px;
  background-color: #FF866D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.login_cont .register_page:hover {
  background-color: #ff6a4d;
}
