/* Logo */

.logo {
	height: 120px;
  width: 140px;
}

.logo img {
	width: 100%;
}

.home_menu_wrapper{
  overflow: hidden;
  float: left; 
  display: flex;
  margin: -0.5%;
}


.home_left_menu{
  top: 46%;
  bottom: 15%;
  left: 17.3%;
  width: 20%;
  height: 28%;
  position: absolute;
  float: left;
}

.home_left_menu img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  display: block;
}

.home_left_menu img:hover {
  opacity: 1;
}

.home_left_menu .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

.home_left_menu .centered img:hover{
   opacity: 1;
}


.home_right_menu{
  top: 46%;
  bottom: 15%;
  left: 38%;
  width: 20%;
  height: 28%;
  position: absolute;
  overflow: auto;
}

.home_right_menu img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: block;
}

.home_right_menu img:hover {
  opacity: 1;
}

.home_right_menu .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

.home_right_menu .centered img:hover{
   opacity: 1;
}

.notification_banner {
  width: 20.5%;
  position: absolute;
  top: 32.6%;
  left: 17.3%;
  height: 10.7%;
  background-color: #9EB5A8;
}

.notification_banner .centered {
  position: relative;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

.notification_banner_border {
  width: 20.5%;
  position: absolute;
  top: 32.6%;
  left: 37%;
  height: 9.8%;
  background-color: white;
  border-color: #9EB5A8;
  border-style: solid;
}

.notification_banner_border .top {
  position: relative;
  top: 36%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: 'Didact Gothic', sans-serif;
  color: #9EB5A8;
}

.notification_banner_border .bottom {
  position: relative;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 14.5px;
  font-family: 'Didact Gothic', sans-serif;
  color: #9EB5A8;
}

.sidebar {
  top: 180px;
  left: 930px;
  width: 253px;
  height: 350px;
  position: absolute;
  overflow: auto;
}

.announcments_title{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 26px;
}

.announcments_seperator{
  border:solid;
  border-width: 1px;
}

.announcments_context{
  border-left: 2px solid #9EB5A8;
}

.announcments_context .announcments_title{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14.5px;
  font-weight: bold;
  margin-left: 10px;
}

.announcments_context .announcments_date{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: grey;
  margin-left: 10px;
}

.announcments_context .announcments_body{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12px;
  margin-left: 10px;
}

.footer{
  top: 650px;
  width: 100%;
  height: 200px;
  position: absolute;
  overflow: auto;
  background-color: #DBDBD9;
}

.footer .contact{
  width:20%;
  float: left;
}

.footer .schedule{
  width:20%;
  float: left;
}

.footer .sitemap{
  width:20%;
  float: left;
}

.footer .map_context{
  width:20%;
  float: left;
}

.footer .map{
  margin:20px;
  width:20%;
  overflow: auto;
}

.footer .title{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
}

.footer .contact img{
  width:28%;
  height:auto;
  position: relative;
  left: 5px;
  float: left;
}

.footer .contact .number{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: 100px;
  top:12px;
  position: relative;
}

.footer .schedule img{
  width:23%;
  height:auto;
  position: relative;
  bottom:22px;
  left:20px;
  float: left;
}

.footer .schedule .time{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-left: 100px;
  position: relative;
  bottom: 12px;
}
/* Top right containers for login and register */
.top_corner_register{
   position:absolute;
   top:40px;
   right:100px;
 }

.top_corner_login{
  position:absolute;
  top:40px;
  right:250px;
}

.profile_mini_container{
  position: absolute;
  width:350px;
  height: 110px;
  background-color: beige;
  right:100px;
  top:10px;
}

.profile_mini_container .my_profile{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  margin-top:8px;
  margin-left: 150px;
}

.profile_mini_container .welcome{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  margin-left: 50px;
  margin-top: 2px;
}

.profile_mini_container .logout{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  margin-left: 150px;
  margin-top: 2px;
  color:red;
}


/* Navigation Bar */

#top_nav_menu {
  background: #9EB5A8;
  width: auto;
}
#top_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#top_nav_menu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#top_nav_menu ul li {
  display: inline-block;
  padding: 0;
  width: 15.5%;
  margin: 0;
}
#top_nav_menu.align-right ul li {
  float: right;
}
#top_nav_menu.align-center ul {
  text-align: center;
}
#top_nav_menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Didact Gothic', sans-serif;;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#top_nav_menu ul li a:hover {
  color: #487268;
}
#top_nav_menu ul li a:hover:before {
  width: 100%;
}
#top_nav_menu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#top_nav_menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #487268;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#top_nav_menu ul li.last > a:after,
#top_nav_menu ul li:last-child > a:after {
  display: none;
}
#top_nav_menu ul li.active a {
  color: #487268;
}
#top_nav_menu ul li.active a:before {
  width: 100%;
}
#top_nav_menu.align-right li.last > a:after,
#top_nav_menu.align-right li:last-child > a:after {
  display: block;
}
#top_nav_menu.align-right li:first-child a:after {
  display: none;
}

/* If the browser window is resized */

/*@media screen and (max-width: 768px) {
  #top_nav_menu ul li {
    float: none;
    display: block;
  }
  #top_nav_menu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #top_nav_menu ul li.last > a,
  #top_nav_menu ul li:last-child > a {
    border: 0;
  }
  #top_nav_menu ul li a:after {
    display: none;
  }
  #top_nav_menu ul li a:before {
    display: none;
  }
}*/

/* Search field */

input[type=text].search_field {
    width:400px;
    height:50px;
    font-size: 20px;
    color: grey;
    -moz-border-radius: 15px;
 	  border-radius: 15px;
    border:solid 1px grey;
    padding:5px;
    font-family: 'Didact Gothic', sans-serif;
}

/* Search button */

.search_button {
    width: 100px;
    height:40px;
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    background: #9EB5A8;
    -moz-border-radius: 15px;
 	  border-radius: 15px;
    border:solid 1px;
    padding:5px;
    margin-left: -108px;
}

/* Register Button */

.register_button {
  border-radius: 4px;
  background-color: #FF866D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.register_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.register_button:hover span {
  padding-right: 25px;
}

.register_button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Login Button */

.login_button {
  border-radius: 4px;
  background-color: #76C0B4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.login_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login_button:hover span {
  padding-right: 25px;
}

.login_button:hover span:after {
  opacity: 1;
  right: 0;
}


