.login_form{
	width:500px;
	height:450px;
	left:300px;
	position: absolute;
	background-color: #F2F2F2;
	top:190px;
}

.login_form .title{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 28px;
	margin-left: 115px;
	margin-top: 10px;
}

.login_form .new_user{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 24px;
	margin-left: 50px;
	margin-top: 50px;
}

input[type=text].login_input {
	width:400px;
	height:25px;
	margin-top: 30px;
	margin-left: 40px;
	border: none;
	display: block;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #000000;
	background: transparent;
	font-size: 18px;
}

input[type="password"].login_input {
	width:400px;
	height:25px;
	margin-top: 30px;
	margin-left: 40px;
	border: none;
	display: block;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #000000;
	background: transparent;
	font-size: 18px;
}


.login_form .login_button_area{
	margin-left: 170px;
	margin-top: 18px;
}


.password_error .content{
	margin-left: 2px;
}

