.register_form{
	width:90%;
	height:450px;
	left:4%;
	position: absolute;
	background-color: #F2F2F2;
	top:190px;
}

.register_form .title{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 28px;
	margin-left: 35%;
	margin-top: 10px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.register_form:after {
    content: "";
    display: table;
    clear: both;
}

label {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 22px;
   	display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-top: 15px;
}

input[type=text].register_input {
	font-size: 22px;
	width:240px;
	height:30px;
	margin-top: 15px;
	margin-left: 40px;
 	display: inline-block;
  	float: left;
}

input[type="password"].register_input {
	font-size: 22px;
	width:240px;
	height:30px;
	margin-top: 15px;
	margin-left: 40px;
 	display: inline-block;
  	float: left;
}

input[type="email"].register_input {
	font-size: 22px;
	width:240px;
	height:30px;
	margin-top: 15px;
	margin-left: 40px;
 	display: inline-block;
  	float: left;
}

.register_form .submit_button{
	margin-left: 40%;
	margin-top: 30%;
}

.register_button{
	width:60%;
}

 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 

.error{
	background:#d53c4b;
	width:40%;
	height:10%;
	position: absolute;
	top:65%;
	left:10%;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 18px;
	color:white;
	z-index: 2;
}

.error .content{
	margin-left: 2%;
	margin-top: 4%;
}
